[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
undetected-chromedriver = "*"
selenium = "*"

[dev-packages]
blue = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.11"
